*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header{
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.form{
    padding: 20px;
}

.form-control{
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
}

.form-control label{
    margin-bottom: 5px;
    display: inline-block;
}

.form-control input{
    border: 2px solid gray;
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 50px;
    right: 20px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    top: 80px;
    left: 15px;
    visibility: hidden;
}

.form button {
    background-color: #fc00ff;
    border: 2px solid #fc00ff;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.form button:hover{
    cursor: pointer;
    border: 2px solid #00dbde;
    background-color: pink;
    transition: 0.5s;
    color: #fc00ff;
}
/* Erro e Acerto */

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}


.form-control.error input{
    border-color: #e74c3c;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}