*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.imgSenac{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 0px solid transparent;
}

.imgSenac img{
    width: 100px;
}

.container{
    background-color: rgb(189, 189, 228);
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 40px;
}

.titulo{
    background-color: rgb(218, 208, 196);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 30px;   
}

.input input{
    margin-top: 10px;
    padding: 5px;
    width: 600px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
    border-radius: 10px;
    border-color: rgb(168, 161, 152);
}

.input input:hover{
    cursor: pointer;
    border: 1px solid rgb(189, 189, 228);
}

.input label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 10px;
}

.btn button:hover{
    cursor: pointer;
    border: 1px solid darkcyan;
    transition: 0.9s;
}

#dados{
    margin-top: 10px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}