*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(235, 229, 229);
}

.container form{
    padding: 20px;
    background-color: bisque;
}

.container form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgb(235, 229, 229);
    padding: 10px;
}

.btn button:hover{
    cursor: pointer;
}